<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.armenianphonetic</string>
	<key>CFBundleName</key>
	<string>ArmenianPhonetic</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>KLInfo_Armenian Phonetic</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.armenianphonetic.armenianphonetic</string>
		<key>TISIntendedLanguage</key>
		<string>hy-AM-arevela</string>
	</dict>
	<key>KLInfo_Armenian Phonetic (KDWin)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.armenianphonetic.armenianphonetic(kdwin)</string>
		<key>TISIntendedLanguage</key>
		<string>hy-AM-arevela</string>
	</dict>
	<key>KLInfo_Armenian Phonetic (KDWin) With English</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.armenianphonetic.armenianphonetic(kdwin)withenglish</string>
		<key>TISIntendedLanguage</key>
		<string>hy-AM-arevela</string>
	</dict>
	<key>KLInfo_Armenian Phonetic With English</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.armenianphonetic.armenianphoneticwithenglish</string>
		<key>TISIntendedLanguage</key>
		<string>hy-AM-arevela</string>
	</dict>
</dict>
</plist>
